# Database
DATABASE_URL="mysql://username:password@localhost:3306/delfin_db"

# Email Configuration
SMTP_USER=your_email@mail.ru
SMTP_PASS=your_app_password

# Next.js
NEXTAUTH_SECRET=your_secret_key
NEXTAUTH_URL=http://localhost:3000
